@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

input[type=text] {
    color: white;
    background-color: #292929;
    border: none;
    border-bottom: 2px solid grey;
    outline: none;
    width: 100%;
}

input[type=text]:focus {
    border-bottom: 2px solid #8f2727
}

body {
    background-color: black;
    overflow: hidden;
    scrollbar-width: none;
}

.div-float-left {
    float: left;
    padding: 3px;
}

.div-input-container {
    width: 19%;
}

div {
    padding: 0px;
}

.chat {
    height: 93%;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    width: 19%;
    background-color: #1a1a1a;
    overflow-wrap: break-word;
    position: relative;
}

.chat-message {
    background-color: #212121;
    border-radius: 5px;
    animation: slide-up 0.4s ease;
    padding: 3px;
}

.chat-message:hover {
    background-color: #292929;
}

p {
    color: white;
    font-family: Helvetica;
    font-size: 14px;
    display: inline;
}

p.msg-nickname {
    font-size: 16px;
    font-family: 'Paytone One', sans-serif;
}

.player {
    padding: 0px;
}

 ::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-thumb {
    background: #ab1400;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: red;
}

p.typing-message {
    padding: 0%;
    color: grey;
    font-style: italic;
}

p.system {
    color: grey;
    font-style: italic;
}

p.italic {
    font-style: italic;
}

p.bold {
    font-weight: bold;
}

p.underline {
    text-decoration: underline;
}

p.strikethrough {
    text-decoration: line-through;
}

p.cursive {
    font-family: 'Lobster Two', cursive;
    font-size: 20nopx;
}

p.big {
    font-size: 35px;
}