* :not(body) {
    animation: slide-up 0.3s ease;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    align-items: center;
    width: 100%;
}

body {
    background-color: #1a1a1a;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

hr {
    border: 1px solid grey;
    width: 50%;
}

button {
    color: white;
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid grey;
    display: block;
    margin: auto;
    width: 50%;
}

button:hover {
    border: 2px solid #ab1400;
}

a {
    text-decoration: none;
    margin: auto;
}

a.link {
    padding: 5px;
}

input[type=text],
input[type=password] {
    background-color: #1a1a1a;
    border: solid 2px grey;
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    color: white;
    width: 50%;
}

input[type=text],
input[type=password]:focus {
    border: solid 2px #ab1400;
}

input[type=color] {
    margin: auto;
    width: 50%;
    border-radius: 10px;
}

.menu {
    border: 2px solid grey;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    margin: auto;
}

.centre-align {
    align-items: center;
    text-align: center;
}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-sub {
    font-size: 20px;
    color: #ab1400;
}

.header-main {
    font-size: 40px;
    color: #ab1400;
    transition-duration: 0.2s;
}

.header-main:hover {
    font-size: 40px;
    color: #da1a01;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1a1a1a;
    transition: .4s;
    border-radius: 34px;
    border: solid 2px grey;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    border: solid 2px #ab1400;
}

input:checked+.slider:before {
    transform: translateX(26px);
}