body {
    padding: 0%;
    margin: 0%;
    background-color: #111111;
}

.particles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.waves {
    position: fixed;
    left: 0;
    bottom: 0%;
    z-index: -1;
}

.g-recaptcha {
    display: inline-block;
}

a {
    text-decoration: none;
    margin: auto;
    color: blue;
}

p,
li,
label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

p.button-text {
    font-family: Arial, Helvetica, sans-serif;
    margin: none;
    border: none;
    line-height: 0;
    display: inline-block;
}

p.danger-text {
    color: #d80000;
}

hr {
    border: 1px solid grey;
    width: 60%;
}

button {
    color: white;
    background-color: #960303;
    padding: 10px;
    border: none;
    border-radius: 50px;
    display: block;
    margin: auto;
    width: 60%;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #d80000;
}

a.link {
    padding: 5px;
}

input[type=text],
input[type=email],
input[type=password],
select {
    background-color: #111111;
    border: solid 2px grey;
    border-radius: 50px;
    display: block;
    margin: auto;
    padding: 15px;
    outline: none;
    box-sizing: border-box;
    color: white;
    width: 60%;
}

input[type=text],
input[type=email],
input[type=password]:focus {
    border: solid 2px #960303;
}

input[type=color] {
    margin: auto;
    width: 60%;
    border-radius: 10px;
}

.menu {
    border: none;
    border-radius: 10px;
    width: 60%;
    padding: 10px;
    margin: auto;
}

.centre-align {
    align-items: center;
    text-align: center;
}

.header {
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 0.03em;
    padding: 0px;
    margin: 0px;
    color: #d80000;
}

.header-sub {
    font-size: 30px;
}

.header-main {
    font-size: 80px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: .2s;
    border-radius: 34px;
    border: solid 2px red;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .2s;
    border-radius: 50%;
}

input:checked+.slider {
    border: solid 2px #00d607;
    background-color: #00d607;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-thumb {
    background: #960303;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #d80000;
}

img.user-image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.bi {
    display: inline-block;
}

button.back-button {
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(255, 123, 0);
    border: none;
    border-radius: 50%;
    margin: auto;
    z-index: 2;
    width: 50px;
    height: 50px;
    float: left;
    position: fixed;
    bottom: 40px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.back-button:hover {
    background-color: #ffac13;
}